@page "/"
@inject RouteSourceAssemblyProvider RouteSources
@attribute [PageMetadata(
Title = "Basic Developer Toolbox, By Developers, For Developers",
IsCompleteTitle = true,
Description = "A basic set of free, online tools to help out software developers. Create Guids, validate and format Json/Yaml documents, and expect more to come.",
Keywords = "online tool, free, developer tools"
)]

<h1>Basic Developer Toolbox</h1>

<h3>Your one-stop shop for basic, online developer tools!</h3>

<p>Create Guids, validate and format Json/Yaml documents. More to come.</p>

<div class="row">
    @foreach (var tool in RouteSources.ToolPages)
    {
        <div class="col-xxl-3 col-xl-4 col-lg-6 mb-4 d-flex align-items-stretch">
            <div class="card" style="width: 100%">
                <div class="card-header d-inline-flex">
                    <Icon Class="me-2 align-self-center" Name="@tool.Value.Icon" Size="IconSizes.Large" Style="IconStyles.TwoTone" />
                    <span class="h4 mb-0 align-self-center">@tool.Value.Name</span>
                </div>
                <div class="card-body">
                    <p class="card-text">@tool.Value.Description</p>
                </div>
                <div class="card-footer text-end">
                    <NavLink href="@tool.Key" class="btn btn-primary">Use Tool</NavLink>
                </div>
            </div>
        </div>
    }
</div>

<p>If you want to suggest another tool, or even better, submit a pull request with a new tool, start on <a href="https://github.com/NArnott/BasicTools">GitHub</a>.</p>