::deep .input, ::deep .output {
    width: 100%;
    resize: none;
    height: calc(100vh - 11rem);
    background: white;
}

textarea.disable-wrap {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}
