@page "/json"
@attribute [PageMetadata(
Title = "Json",
Description = "Parse, Validate and Format Json documents",
Keywords = "JSON, javascript object notation, parser, format, online, tool, free"
)]
@attribute [ToolPage("Json Parsing", "Parse, Validate and Format Json documents.", "grading")]

<h1>Json Parsing</h1>

<LayoutSetter>
    <RightSidebar>
        <h3>Instructions</h3>
        <p>Paste a JSON document into the Input field and click the Process button.</p>
        <p>If the JSON document is <strong>valid</strong>, a fully formatted json document will appear in the Output.</p>
        <p>If the JSON document is <strong>not valid</strong>, the parsing error will be displayed.</p>
    </RightSidebar>
</LayoutSetter>

<div class="row" style="height: calc(100% - 4rem)">
    <div class="col-xl-5">
        <h3>Input</h3>
        <textarea @bind="Input" class="form-control code" spellcheck="false" />
    </div>
    <div class="col-xl-2">
        <button class="btn btn-primary mt-xl-5" style="width:100%;" @onclick="Process">Process</button>
    </div>
    <div class="col-xl-5">
        <h3>Output</h3>
        <textarea @bind="Output" class="form-control code@(OutputIsError ? " is-invalid" : "")" readonly />
    </div>
</div>
