@inject PageDataProvider PageData

<title>@PageData.Title</title>
@if (PageData.MetaDescription != null)
{
<meta name="description" content="@PageData.MetaDescription" /> 
}
@if (PageData.MetaKeywords != null)
{
<meta name="keywords" content="@PageData.MetaKeywords" />
}

@code { 

    protected override void OnInitialized()
    {
        PageData.PageChanged += () =>
        {
            InvokeAsync(StateHasChanged);
        };
    }
}