@inject RouteSourceAssemblyProvider RouteSources 

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Basic Dev Tools</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="home" Class="me-1" /> Home
            </NavLink>
        </li>

        @foreach (var tool in RouteSources.ToolPages)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@tool.Key">
                    <Icon Name="@tool.Value.Icon" Class="me-1" /> @tool.Value.Name
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
