<div class="toast fade show @ToastClass @ToastLevel" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        @if (ToastDescriptor.Icon != null) { 
            <div class="me-2">
                @Container.IconTemplate(ToastDescriptor.Icon)
            </div>
        }
        <strong class="me-auto">@ToastDescriptor.Header</strong>
        <button type="button" class="btn-close" aria-label="Close" @onclick="HideToast" />
    </div>
    
    @if (ToastDescriptor.Body != null)
    {
        <div class="toast-body">
            @ToastDescriptor.Body
        </div>
    }
</div>